@font-face {font-family:"Calluna-Regular";src:url("../fonts/Calluna-Regular.eot?") format("eot"),url("../fonts/Calluna-Regular.woff") format("woff"),url("../fonts/Calluna-Regular.ttf") format("truetype"),url("../fonts/Calluna-Regular.svg#Calluna-Regular") format("svg");font-weight:normal;font-style:normal;}

body {
  padding: 0;
  margin: 0;
  font-family: Calluna-regular;

}

.background {

  text-align: center;
  background-image: url("../image/background_top.jpg"), url("../image/background_middle.jpg"), url("../image/background_bottom.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top, bottom, bottom;
  min-height: 100%;

}

.wrapper {
  max-width: 67.31%;
  margin: 0 auto;
  min-height: 2000px;
}



ul {
  list-style-type: none;
  color: white;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  padding: 1%;
  
}
ul li {
  display: inline;
  padding: 4.14%;
  
}

ul a {
  text-decoration: none;
  color: white;
}

#welcome h1 {
  text-transform: uppercase;
  padding-top: 50px;
}

#welcome {

  max-width: 33.3333%;
  margin: 0px auto;
}

#welcome_wrap {
  background-color: white;
  padding: 50px;
}

#welcome_wrap p {
  padding: 0;
  margin: 0;
  text-align: justify;
  text-align-last: center;
  max-width: 50%;
  margin: 0px auto;
}
.social {
  display: inline-block;
}


#logo {
  max-width: 16.6666%;
  padding-top: 150px;
  padding-bottom: 20px;
}

footer {
  color: white;
}

.social {
  color: white;
}

.logo {
  padding: 10px 10px 100px 10px;
}

nav {
    font-family: 'Montserrat', sans-serif;

}

.menu_pic {
  max-width: 25%;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 0px;
}

#menu {
  margin: 0px;
  padding: 0px;
}

.menu_pic:hover {
  opacity: 0.5;
}

#carousel {
  max-width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#indicator img {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -40px;
}

#indicator img:hover {
  width:18px;
  height:18px;
  box-sizing:border-box;
  padding-left: 18px;
  /*width of the image*/
  background: url("../image/on.png") left top no-repeat;
}

#indicator img:active {
  width:18px;
  height:18px;
  box-sizing:border-box;
  padding-left: 18px;
  /*width of the image*/
  background: url("../image/on.png") left top no-repeat;
}

.social {
  width: 33%;
}

.social h1 {
  border-bottom: 2px solid white;
  text-transform: uppercase;
}

.social h2 {
  font-style: italic;
}

.social input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.social input[type=text] {
  min-width: 80%;
}

.social input[type=submit] {
  border-radius: 3px;
}

.input_wrapper {
  
}






