@font-face {font-family:"Calluna-Regular";src:url("../fonts/Calluna-Regular.eot?") format("eot"),url("../fonts/Calluna-Regular.woff") format("woff"),url("../fonts/Calluna-Regular.ttf") format("truetype"),url("../fonts/Calluna-Regular.svg#Calluna-Regular") format("svg");font-weight:normal;font-style:normal;}

* {
  box-sizing: border-box;
}

[class*="col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.row {
  max-width: 1240px;
  margin: 0 auto;
}



body {
  padding: 0;
  margin: 0;
  font-family: Calluna-regular;
  text-align: center;
  background-image: url("../image/background.jpg");
  background-repeat: no-repeat;
    background-size: cover;

}


nav ul {
  padding: 0;
}




ul {
  list-style-type: none;
  color: white;  
}


ul a {
  text-decoration: none;
  color: white;
  display: block;
    padding: 12px 0 12px 0;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

nav ul a:hover {
  background-color: white;
  color: black;
}

#welcome h1 {
  text-transform: uppercase;
  padding-top: 0px;
}

#welcome {
  font-family: montserrat;

  margin: 0px auto;
}

#welcome_wrap {
  background-color: white;
  padding: 50px;
}

#welcome_wrap p {
  padding: 0;
  margin: 0;
  text-align: justify;
  text-align-last: center;

  margin: 0px auto;
  font-family: calluna;
}
.social {
  display: inline-block;
}


#logo {
  max-width: 30%;
  padding-top: 150px;
  padding-bottom: 20px;
}

footer {
  color: white;
  border-top: 3px double white;
}

.social {
  color: white;
}

.logo {
  padding: 20px 10px 200px 10px;
}


#logos a {
  text-decoration: none;
  color: white;
}

nav {
    font-family: 'Montserrat', sans-serif;
}

#menu div{
  float: left;
  width: 25%;
  height: 25%;
  text-align: center;
}





#book {
  background-image: url("../image/bookatable.jpg");
   background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 25%; 
    -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

#book:hover {
  background-image: url("../image/bookatable_hover.jpg");
}

#menus {
  background: url("../image/menus.jpg") no-repeat;
     background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 25%; 
    -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}

#menus:hover {
  background-image: url("../image/menus_hover.jpg");
}

#christmas {
  background: url("../image/christmas.jpg") no-repeat;
     background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 25%; 
    -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

#christmas:hover {
  background-image: url("../image/christmas_hover.jpg");
}

#contact {
  background: url("../image/contact.jpg") no-repeat;
     background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 25%; 
    -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

#contact:hover {
  background-image: url("../image/contact_hover.jpg");
}


#carousel {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#indicator img {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -40px;
}

#indicator img:hover {
  width:18px;
  height:18px;
  box-sizing:border-box;
  padding-left: 18px;
  /*width of the image*/
  background: url("../image/on.png") left top no-repeat;
}

#indicator img:active {
  width:18px;
  height:18px;
  box-sizing:border-box;
  padding-left: 18px;
  /*width of the image*/
  background: url("../image/on.png") left top no-repeat;
}

.social {
  width: 32%;
  float: left;
}

#twitter {
  padding-right: 1%;
}

#instagram {
  padding-left: 1%;
  padding-right: 1%;
}

#signup {
  padding-left: 1%;
  float: right;
}

.social h1 {
  border-bottom: 2px solid white;
  text-transform: uppercase;
  font-family: montserrat;
  font-weight: normal;
  font-size: 18pt;
  padding-bottom: 10px;
}

.social h2 {
  font-style: italic;
  font-family: Calluna;
  font-weight: normal;
  font-size: 18pt;
}

.social p {
  font-style: italic;
  font-family: Calluna;
  font-weight: normal;
  font-size: 15pt;
}

.social input {
  background-color: transparent;
  border: 0;
  outline-width: 0;
  color: white;
  font-family: Calluna;
  font-style: italic;
  font-size: 15pt;
  padding-left: 3%;

}


.social input[type=text] {


}

.social input[type=number] {
  -webkit-appearance: none;

}

.social button {
  border: 1px solid white;
  border-radius: 3px;
  min-width: 50%;
  background-color: transparent;
  color: white;
  font-family: montserrat;
  font-size: 15pt;

}

.social input[type=submit] {
  border: 1px solid white;
  border-radius: 3px;
  min-width: 50%;
  font-family: montserrat;
  font-size: 15pt;
  font-weight: bold;
}

.social input[type=submit]:hover {
  color: black;
  background: white;
}

.social input[name="day"] {

}

.social input[name="month"] {

}

.input_wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 1px solid white;
  color: white;
  padding: 8px;
  text-align: left;
}

.day_month_wrapper {
  display: inline-block;  
  width: 35%;
  text-align: center;
}

.day_month_wraper input {
  text-align: center;
  width: 10px;
}

.input_text {
  width: 20%;
  border-right: 2px solid;
  display: inline-block;
  font-family: Calluna;
  font-style: italic;
  font-size: 15pt;
}

footer li {
  font-size: 15pt;
  display: inline;
  border-right: 2px solid white;
  padding: 0 10px 0 10px;
}

footer li:last-child {
  border-right: 0;
}

.social img {
  width: 47%;
}

#salad {
  float: left;
}

#orange {
  float: right;
}

.photos {
  margin: 0;
  padding: 0;
}

button:hover {
  color: black;
  background: white;
}


#carousel {
    width: 1240px;
    height: 510px;
    overflow:hidden;
  }
#carousel ul {
    width: 4960px;
    padding: 0;
    margin: 0;
  }
    #carousel ul li {
    width:1240px;
    text-align: center;
    height: 510px;
    list-style: none;
    float:  left;
  }



/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media only screen and (max-width: 768px) {
    /* change background for smaller screens */
    body {
        background-image: url("../image/background_mobile.jpg");
  background-repeat: no-repeat;
    background-size: cover;
    }
}









